* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* font-family: "Raleway", sans-serif; */
  background-color: white;
}
.card-title{
  color:black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(17, 16, 16, 0.2);
  transition: 0.3s;
  width: 900px;
  Height: 450px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5px;
  column-gap: 0px;
  margin-top: 30px;
  width: 302px;
  margin-left: 0px;
}

.sub-menu {
  text-align: center;
  margin-top: 50px;
}

.card {    
  background-color: aliceblue;
  /* font-style: italic; */
  font-weight: 400;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(123, 122, 122, 0.2);
}

.cardness {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  Height: 100%;
  background-color: aqua;
}

.cardness:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.ans-section {
  background: #597f99;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.ans-card {
  height: 500px;
  width: 100%;
}

span#skip-tag {
  display: flex;
  float: right;
  justify-content: space-evenly;
  width: 100px;
}


span#skip-tag> p{
  border: rgb(167, 166, 166) 1px solid;
  color:black;
}
span#skip-tag> strong{
  border: rgb(167, 166, 166) 1px solid;
  color:black;
  border-radius: 5px;
}

.hidden {
  display: none !important;
}

.timer {
  height: 30px;
  background: green;
  width: 100%;
  animation: 10s timer infinite linear;
}
.card-category{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  Height: 150px;
}

@keyframes timer {
  100% {
    width: 0%;
    background: red;
  }

  50% {
    background: orange;
  }

  0% {
    width: 100%;
  }
}
